#input-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  #amount {
    width: 90%;
    margin: 4px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
  }

  #validate-btn {
    width: 90%;
    box-sizing: border-box;
    margin-left: 4px;
  }

  #choice-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4px;

    input {
      width: 49%;
      margin: 4px 0px 4px 0px;
      box-sizing: border-box;
    }
  }
}

.title {
  margin-left: 4px;
}

.alert {
  color: red;
}
