<div>
  <div>
    <h3 class="title">Montant désiré :</h3>
    <div id="input-container">
      <input
        id="amount"
        type="number"
        [(ngModel)]="amount"
        [disabled]="isAmountInBetween"
      />
      <div id="choice-container" *ngIf="isAmountInBetween">
        <input
          id="floor"
          type="button"
          [value]="'Choisir ' + possibleAmountsInfo.floor.value + ' €'"
          (click)="chooseAmount(possibleAmountsInfo.floor)"
        />
        <input
          id="ceil"
          type="button"
          [value]="'Choisir ' + possibleAmountsInfo.ceil.value + ' €'"
          (click)="chooseAmount(possibleAmountsInfo.ceil)"
        />
      </div>
      <input
        *ngIf="!isAmountInBetween"
        type="button"
        value="Valider"
        id="validate-btn"
        (click)="getCardsMatching()"
      />
    </div>
  </div>
  <span class="alert" *ngIf="isAmountInBetween"
    >Ce montant n'est pas disponible, veuillez choisir un autre montant
    ci-dessus.</span
  >
  <div>
    <h3 class="title">Votre montant est composé des cartes suivantes :</h3>
    <div id="cards" *ngIf="!isAmountInBetween">
      <ul>
        <li *ngFor="let value of matchingCardsValues">{{ value }} €</li>
      </ul>
    </div>
  </div>
</div>
